body {
    margin: 0;
    font-family: Arial, sans-serif;
}
header {
    background: #0d47a1;
    color: white;
    padding: 15px;
    text-align: center;
}
nav {
    background: #1565c0;
    padding: 10px;
    text-align: center;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}
nav a:hover {
    color: yellow;
}
/* Hero Section */
.hero {
    height: 70vh;
    background: url('Sma.jpg')no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 5px black;
    text-align: center ;
    margin:0;
    padding:0;
}
.hero h1 {
    font-size: 40px;
    margin: 0;
}
.hero p {
    font-size: 20px;
}
.hero button {
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    background: yellow;
    color: #0d47a1;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}
.hero button:hover {
    background: orange;
    color: white;
}
/*konten*/
main {
    padding: 20px;
    text-align: center;
}
footer {
    background: #0d47a1;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
/* Hero Section */
.tentang {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 900px;
    margin: auto;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    overflow: hidden;
}

.gambar {
    flex: 1;
}

.gambar img {
    width: 100%;
    height: auto;
    display: block;
}
.teks {
    flex:  1;
    padding:  30px;
}

.teks h2 {
    margin-top: 0;
    font-size: 28px;
    color: #333;
    text-shadow: 2px 2px 4px rgba(0,0,0,0,2);
}
.teks p {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
}
/* konten */
main {
    flex:1; /*bilar ngisi ruang kosong */
    padding: 20px;
    text-align: center;
}
footer {
    background: #0d47a1;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    
}
/* Responsive HP */
@media (max-width: 768px) {
  .tentang {
      flex-direction: column;
  }  
  .gambar img {
      border-bottom: 1px solid #eee;
  }
}
.card {
    background: #fff
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 3px 8px rgba(0,0,0,0.1);
      text-align: center;
      transition:;
}